**/__pycache__/
output.c
output.cs
output.exe
output.ps1
output.vba
output.docm
output.go
env/
output.rs
/output/
output.txt
go.mod
go.sum
output.go
output.pas
output.o
libimpoutput.a
output.nim
